/coins.jpg
/coins_transformed.bmp
/countCoins.asv
/countCoins.m
/done.ps
/ECE456 Assignment 2.pdf
/first_part.asv
/images.zip
/Noisy.tif
/Ocean.bmp
/Ocean_3.bmp
/Ocean_4.bmp
/Ocean_transformed.bmp
/Untitled.asv
/Untitled.m
/Untitled3.m
/Untitled4.asv
Untitled4.m
